<.header>
  Listing Posts
  <:actions>
    <.link href={~p"/post/create"}>
      <.button>New Post</.button>
    </.link>
  </:actions>
</.header>

<.table id="posts" rows={@posts} row_click={&JS.navigate(~p"/post/#{&1}")}>
  <:col :let={post} label="Title"><%= post.title %></:col>
  <:col :let={post} label="Body"><%= post.body %></:col>
  <:action :let={post}>
    <div class="sr-only">
      <.link navigate={~p"/post/#{post}"}>Show</.link>
    </div>
    <.link navigate={~p"/post/#{post}/edit"}>Edit</.link>
  </:action>
  <:action :let={post}>
    <.link href={~p"/post/#{post}/delete"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
